.wrapperfun {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: #B2B2E6;
}
.wrapperhome {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: #FF66B5;
}
.wrapperrel {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: #9ECEE6;
}
.wrappersoph {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: #611B00;
}
.wrappercorp {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: #909898;
}
.wrapperener {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: #034168;
}
.wrapperrel {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
    border-style: solid;
    border-width: 7px;
    border-color: #5E0B8F;
    background: rgb(141, 142, 167);
}
hr {
    display: block;
    border: none;
    border-top: 5px solid rgba(94, 11, 143, 0.973);
    margin: 1em 0;
    padding: 0; 
}
/* Top and bottom Nav */

a {
    padding: 10px 25px;
    background: rgba(94, 11, 143, 0.973);
    display: inline-block;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(94, 11, 143, 0.973);
    text-align: center;
}
li {
    float:left;
    border-right: 1px solid #bbb;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background: #E50CE8;
}
li a:hover {
    background-color: #E50CE8;
}
.uppernav{
    text-align: center;
}
.lowernav {
    text-align: center;
    padding-bottom: 40px;
}
/* Footer */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(94, 11, 143, 0.973);
    text-align: center;
}
footer li {
    float:right;
    border-right: 1px solid #bbb;
}
footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Headers and paragraph font styling */
h1 {
    text-align: center;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 26px;
}
.hfun {
    font-family: 'Permanent Marker', sans-serif;
    color: #570014;
}
.pfun {
    font-family: 'Gloria Hallelujah', sans-serif;
    line-height: 1.8;
    background-color: #FF80A4;
    color: #030368;
}
.hsoph {
    font-family: 'Great Vibes', sans-serif;
    color: #B5D37E;
}
.psoph {
    font-family: 'Courgette', sans-serif;
    background:#1F2B0D;
    color: #FF9C75;
}
.hrel {
    font-family: 'Merienda', sans-serif;
    color: #111E69;
}
.prel{
    font-family: 'Magra', sans-serif;
    background: #0F1B62;
    color:#7DB8FC;
}
.hener {
    font-family: 'Berkshire Swash', sans-serif;
    color: #FFD447;
}
.pener {
    font-family: 'Averia Serif Libre', sans-serif;
    background: #FFD642;
    color: #033E63;
}
.hcorp {
    font-family: 'Stardos Stencil', sans-serif;
    color: #030303;
}
.pcorp {
    font-family: 'Quando', serif;
    background: #001407;
    color: #A3A3A3;
}
.hhome {
    font-family: 'Anton', sans-serif;
    color:#1A0033;
}
.phome {
    font-family: 'Original Surfer', sans-serif;
    background: #1B2755;
    color: #F89BC5;
}